/* 1. TOUS LES IMPORTS DOIVENT ÊTRE EN HAUT */
@import url("https://api.fontshare.com/v2/css?f[]=satoshi@500&f[]=cabinet-grotesk@800&display=swap");
@import "tailwindcss";

/* 2. DÉFINITION DES VARIABLES */
:root {
  --primary: #2a2773;
  --secondary: #35bdf2;
  --third: #f2f2f2;

  /* Colors */
  --ss-primary-color: #2a2773;
  --ss-bg-color: #ffffff;
  --ss-font-color: #4d4d4d;
  --ss-border-color: #dcdee2;
  --ss-border-radius: 10px;

  /* Heights */
  --ss-main-height: 40px;
  --ss-search-height: 40px;
  --ss-option-height: auto;
  --ss-content-height: 300px;

  /* Spacing */
  --ss-spacing-l: 9px;
  --ss-spacing-m: 7px;
  --ss-spacing-s: 5px;

  /* Other Properties */
  --ss-border-radius: 10px;
  --ss-animation-timing: 0.2s;

  /* Polices liées aux variables */
  --font-sans: "Satoshi", sans-serif;
  --font-display: "Cabinet Grotesk", sans-serif;
}

/* 3. CONFIGURATION DU THÈME TAILWIND */
@theme {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-third: var(--third);
  --font-sans: var(--font-sans);
  --font-display: var(--font-display);
  --breakpoint-custom-break: 1100px;
}

html {
  scroll-behavior: smooth;
}

/* 4. RÈGLES DE BASE ET TYPOGRAPHIE */
@layer base {
  body {
    font-family: var(--font-sans);
  }

  h1,
  h2,
  h3 {
    font-family: var(--font-display);
    @apply font-black tracking-tight;
  }
}
